@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    /*Calcula a porcentagem também com o padding e margin*/
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h1{
    font-weight: 200;
    margin-bottom: 50px;
    display:flex; 
    justify-content: center;
}

body{
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.cards{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    gap: 20px;
}

img.hover{
    width: 110px;
}

.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:cubic-bezier(1, 0, 0, 1);
    transition:0.3s;
    padding: 50px;
    gap:20px;
    font-size: large;
}
.card:hover{
    padding: 55px;
    transition:cubic-bezier(1, 0, 0, 1);
    transition:0.3s;
}

#tbl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}	

.tbl td, .tbl th {
    padding: 8px;
  }

  .tbl tr:nth-child(even){background-color: #f2f2f2; }

  .tbl tr:hover {background-color: #ddd; }
  
  .tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    border-radius:5px
  }

.button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.button:hover{
    background-color: #04AA6D;
    color: white;
}

.card.no-hover:hover {
    animation: none !important;
    padding: 50px !important;
}