* {
    padding: 0px;
    margin: 0px;
    /*Calcula a porcentagem também com o padding e margin*/
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 224, 224);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}